point2
[{"id":"3757a13d.d24c2e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"72cbd18.5bd133","type":"inject","z":"3757a13d.d24c2e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":220,"wires":[["6a5b574.59d3ba8"]]},{"id":"6a5b574.59d3ba8","type":"function","z":"3757a13d.d24c2e","name":"Payload","func":"msg.headers={\n    deviceKey: \"MYcJom0I9srUzpNq\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["284b8a41.386666"]]},{"id":"284b8a41.386666","type":"http request","z":"3757a13d.d24c2e","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dnn9vCEM/datachannels/Temperature/datapoints.csv","tls":"","x":730,"y":380,"wires":[["a6b4c935.ae2488","9a79201f.fd7a1"]]},{"id":"a6b4c935.ae2488","type":"http response","z":"3757a13d.d24c2e","name":"","statusCode":"","headers":{},"x":950,"y":380,"wires":[]},{"id":"9a79201f.fd7a1","type":"debug","z":"3757a13d.d24c2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":480,"wires":[]}]
