point 5
[{"id":"1ed837f6.95fe18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"db1d7c55.a2b9b","type":"http in","z":"1ed837f6.95fe18","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["41a712ec.41b1bc","c53dc482.dc9fd8"]]},{"id":"41a712ec.41b1bc","type":"function","z":"1ed837f6.95fe18","name":"Set to 1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["c5ca7abf.1ae818"]]},{"id":"c5ca7abf.1ae818","type":"rpi-gpio out","z":"1ed837f6.95fe18","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":380,"wires":[]},{"id":"c53dc482.dc9fd8","type":"function","z":"1ed837f6.95fe18","name":"Return Status","func":"msg.payload = \"GPIO set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["67306cd0.287504","b09e9c25.762c4"]]},{"id":"67306cd0.287504","type":"http response","z":"1ed837f6.95fe18","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"b09e9c25.762c4","type":"debug","z":"1ed837f6.95fe18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":460,"wires":[]},{"id":"42463b2c.8efa34","type":"http in","z":"1ed837f6.95fe18","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["9ed3c0d8.77699","8166b4bc.64db88"]]},{"id":"9ed3c0d8.77699","type":"function","z":"1ed837f6.95fe18","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["c5ca7abf.1ae818"]]},{"id":"8166b4bc.64db88","type":"function","z":"1ed837f6.95fe18","name":"Retuen Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["67306cd0.287504","b09e9c25.762c4"]]}]
