point 3
[{"id":"e2daf23b.dffcb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8c8c6897.db3b28","type":"inject","z":"e2daf23b.dffcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["aad50807.cd88d8"]]},{"id":"aad50807.cd88d8","type":"function","z":"e2daf23b.dffcb","name":"Payload","func":"msg.headers={\n    deviceKey: \"MYcJom0I9srUzpNq\"\n};\nmsg.payload= \"Temperature,,10.28\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["319e3a30.5cf536"]]},{"id":"319e3a30.5cf536","type":"http request","z":"e2daf23b.dffcb","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/Dnn9vCEM/datapoints.csv","tls":"","x":510,"y":260,"wires":[["78ac3fc8.55d44","1238b4b7.02f2fb"]]},{"id":"78ac3fc8.55d44","type":"http response","z":"e2daf23b.dffcb","name":"","statusCode":"","headers":{},"x":720,"y":280,"wires":[]},{"id":"1238b4b7.02f2fb","type":"debug","z":"e2daf23b.dffcb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]}]
